body {
    background-image: url("./assets/pic.png");
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.TextField {
    margin-right: 10000px
}

.form {
    justify-content: center;
    align-content: center;
}

.center {
    text-align: center;
}

.rightalign {
    align-self: center
}

.button {
    margin: 100px;
}

form {
    margin-top: 7%;
}

#margin {
    margin-top: 1%;
}

.grow {
    align-self: flex-end;
}

dir {
    margin-top: 10%;
}

.container {
    /* margin-block-end: 100%; */
    /* display: 1; */
    margin-top: -32%;
    margin-left: 29%;
    width: 100%;
    border: 2px solid black;
    width:  894px;
    height: 423px;
    overflow: auto;
}

.onlineflex {
    /* display: flex; */
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 60%;
    width: 100%;
    border: 2px solid black;
    width: 284px;
    height: 400px;
}

#align {
    text-align: left;
    border: 2ch;
}

.containerButton {
    margin-top: 0%;
    margin-left: 60%;
    margin-bottom: 2%;
    width: 500px;
    display: flex;
}

.containerButton div {
    vertical-align: middle;
    margin-top: 22px;
    height: 40px;
}

#sendMessage {
    margin-top: 22px;
    height: 40px;
    vertical-align: middle;
}

#buttonalign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 550px;
    margin-top: 11px;
    margin-right: 515px;
}
#forgetbutton{
margin-top: 6px;
    margin-left: 24px;
}
#forgetsubmit{
    margin-top:24px;
}
#htag{

    margin-top:-1%;

}
#ag{
    margin-top:9%;


}
#sender-div{
    margin-left: 572px;
    background-color: #ecbfd4;
    border-radius: 20px;
    overflow: auto;
    width: 300px;
    padding: 10px;
    margin-bottom: 8px
  }
  #receiver-div{
    background-color: #e9db8c;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin-bottom: 8px
  }